{% extends "blog/base.html" %}

{% block content %}
    <div class="container posts-container">
        {% for post in posts %}
            {% if forloop.last %}
                <div class="container post">
            {% else %}
                <div class="container post border-bottom border-primary">
            {% endif %}

                <div class="row post-heading justify-content-start">
                    <h2 class="col">{{ post.title }}</h2>
                    <p class="col-8">By {{ post.author }} on {{ post.date_posted|date:"F d, Y" }}</p>
                </div>
                <p>{{ post.content }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
