{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style_links %}
<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
{% endblock style_links %}


{% block body %}
    <div class="content-section">
        <div class="media">
            <div class="row profile-header align-items-center">
            <div class="col-4">
                <img class="rounded-circle profile-img" src="{{ user.profile.image.url }}">
            </div>
            <div class="media-body col-8">
                {% if user.first_name and user.last_name %}
                    <h2 class="account-heading">{{ user.first_name }} {{ user.last_name }} ({{ user.username }})</h2>
                {% else %}
                    <h2 class="account-heading">{{ user.username }} (Complete form below)</h2>
                {% endif %}
                <p class="text-secondary">{{ user.email }}</p>
            </div>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class "border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <button class="btn btn-outline-primary" type="submit">Save</button>
            </div>
        </form>
    </div>
{% endblock body %}
