{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style_links %}
<link rel="stylesheet" type="text/css" href="{% static 'users/main.css' %}">
{% endblock style_links %}


{% block body %}
    <div class="content-section mx-auto registration border border-primary" style="width: 65%; margin-top: 5em; margin-bottom: 5em;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class "border-bottom mb-4">Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock body %}
